{% extends "base.html" %}
{% block head %}
	<style>
		#site_description {
			margin-top: 45px;
		}
		#site_description strong {
			color: blue;
		}

	</style>
{% endblock head %}
{% block main %}
		<p id="site_description">YachtsYactsYachts.com searches <strong>{{ num_scrapers }} boat listing sites</strong> so you only have to search <strong title="yachtsyachtsyachts.com :)">one</strong>. It groups boats listed on multiple sites together, so your results have <strong title="This is done using the year of manufacture and a technology called image hashing">no duplicates.</strong></p>
{% endblock main %}